/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
h1,
h2,
h3,
h4,
h5,
h6,
p,
figure,
blockquote,
ul,
ol,
dl,
dd {
  margin: 0 0 1.5rem;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
/* Gets rid of bullets and numbers */
ul[role="list"],
ol[role="list"] {
  list-style: none;
}

/* Set core root defaults */

html {
  line-height: 1.5;
  font-family: "Montserrat", system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
    sans-serif;
}

html:focus-within {
  scroll-behavior: smooth; /* Adds smooth scrolling when tabbing */
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  margin: 0;
}

/* A elements that don't have a class get default styles */
a {
  text-decoration-skip-ink: auto;
  color: #36bf7f;
}

a:hover,
a:focus {
  color: #d96666;
}

/* Make images easier to work with */
/* By default, an image is shown as it is. With this fix, it will never spill outside the container. */
img,
picture svg {
  max-width: 100%;
  display: block;
}

svg {
  fill: currentColor;
}

svg:not(:root) {
  overflow: hidden;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

:root {
  --white: #fffeffff;
  --vivid-burgundy: #a62639ff;
  --dark-orange: #fb8b24ff;
  --emerald: #32de8aff;
  --smoky-black: #090302ff;
}

.container {
  width: min(65em, 100%);
  margin: 0 auto;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

body {
  background-color: var(--smoky-black);
}

header {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: fixed;
  z-index: 9999999999;
  background-color: var(--vivid-burgundy);
  width: 100%;
  background: linear-gradient(
    to top,

    rgb(28, 28, 28) 10%,
    var(--vivid-burgundy) 100%,
    rgb(51, 51, 51) 10%
  );
}

.error-h2 {
  color: var(--white);
}

.album_art__full {
  padding: 2rem;
  display: inline-flex;
  justify-content: center;
  flex-direction: column;
  align-self: center;
  width: min(38rem, 100%);
}

/* .album_art__image {
  
} */

#btnShuffle {
  align-self: center;
  margin-top: 1.5rem;
}

.header__h1 {
  padding: 0.5rem 0 0.5rem 0;
  color: var(--white);
  margin-bottom: 0;
  text-align: center;
}

.equalizer {
  height: 40px;
  display: flex;
  align-items: center;
  padding-left: 1rem;
}

.equalizer .stroke {
  display: block;
  position: relative;
  background-color: var(--emerald);
  height: 100%;
  width: 5px;
  border-radius: 50px;
  margin: 0 5px;
  animation: anim 0.8s linear infinite;
}

@keyframes anim {
  50% {
    height: 20%;
  }
  100% {
    height: 100%;
  }
}
.stroke:nth-child(1) {
  animation-delay: 0.2s;
}

.stroke:nth-child(2) {
  animation-delay: 0.1s;
}
.stroke:nth-child(3) {
  animation-delay: 0.3s;
}
.stroke:nth-child(4) {
  animation-delay: 0.2s;
}
.stroke:nth-child(5) {
  animation-delay: 0s;
}

.controls {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

/* MAIN */

.main__content {
  top: 3rem;
  position: relative;
  display: flex;
  flex-direction: column;
  margin-bottom: 6rem;
}

.playlist {
  margin-left: 0;
  padding-left: 0;
  padding-bottom: 1.5rem;
}

.track__item {
  border: 0.12rem solid #767676;
  background-color: #181818;
  display: flex;
  justify-content: space-between;
  gap: 2rem;
  align-items: center;
  margin-bottom: 0.5rem;
  padding: 1rem;
}

.track__item.active {
  border: 0.1rem solid var(--vivid-burgundy);
}

.track__item:hover {
  background-color: #232323;
}

.track__thumb {
  flex-shrink: 0;
}

.track__details {
  flex-grow: 1;
}

.track__title {
  font-size: 1.125rem;
  color: var(--white);
}

.track__artist {
  color: var(--white);
  margin: 0;
}

.active-li p {
  color: var(--emerald);
  font-weight: bolder;
}

.active-li .track__thumb {
  border-left: var(--emerald) 0.5rem solid;
}

.active-li 

/* .track__time {
  text-align: right;
} */

.progress {
  display: block;
  height: 6px;
  background-color: var(--white);
  border-radius: 10px;
}
.played {
  border-radius: 10px;
  display: block;
  background-color: var(--emerald);
  width: 20%;
  height: 6px;
}

.nbsp {
  color: var(--white);
}

footer {
  background-color: var(--vivid-burgundy);
  background: linear-gradient(
    to top,

    #333 10%,
    var(--vivid-burgundy) 100%,
    rgb(82, 82, 82) 20%
  );
  /* display: flex; */
  justify-content: space-evenly;
  padding: 1.5rem;
  align-items: center;
  position: sticky;
  width: 100%;
  bottom: 0;
  z-index: 999999999999999;
}

time {
  color: var(--emerald);
}

.times {
  text-align: center;
}

button {
  background: transparent;
  border: 0;
  color: var(--white);
}

#btnPrev {
  padding: 1rem;
}

#btnPlay {
  padding: 1rem;
}

#btnNext {
  padding: 1rem;
}

@media only screen and (min-width: 60em) {
  .main__content {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    top: 4rem;
  }

  .playlist {
    padding-top: 2rem;
    margin-bottom: 6rem;
    height: 100vh;
  }

  *::-webkit-scrollbar {
    width: 6px;
  }
  *::-webkit-scrollbar-track {
    background: var(--dark-gray);
    border-bottom-right-radius: 0.35rem;
    border-top-right-radius: 0.35rem;
    border-right: 0.025rem solid var(--gray);
  }
  *::-webkit-scrollbar-thumb {
    background-color: var(--emerald);
    border-radius: 20px;
  }

  .material-symbols-rounded {
    font-size: 3.4rem;
  }

  .material-symbols-rounded:hover {
    color: var(--emerald);
  }
}
